body {
    margin: 0;
    padding: 0;
}

.return-arrow {
    position: fixed;
    font-size: 30px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000; /* keep on top */
}

.return-arrow:hover {
    color: rgb(114, 108, 108);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px;
}

#myCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}